<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-5">
			<div class="panel panel-default">
				<div class="panel-body">
					Stuff goes here
				</div>
			</div>
		</div>
		<div class="col-md-5 col-md-offset-1">
			<div class="panel panel-default">
				<div class="panel-body">
					Stuff goes here
				</div>
			</div>
		</div>
	</div>
</div>